---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-persian-font-family: 'WMitra';
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.en:lang(en), .fa:lang(fa){
    font-weight: bold;
}
.inline
{
    list-style:none;

}
.inline > *
{
    display:inline;
}
.tag-box
{
    max-width:220px;
}
code
{
    background-color:#F9F9F9;
    direction:ltr;
    font-size:10pt;
}
pre
{
    background-color:#F9F9F9;
    overflow-x:auto;
    direction:ltr;
    font-size:10pt;
}
.home[lang='fa'], .post[lang='fa']
{
  direction: rtl;
  font-family: 'WMitra';
}

.tags
{

}
.tags li
{
  background-color:#F9F9F9;
  padding: 5px;
  font-family: serf !important;
  font-size: 14pt;

}
.tags a, .tags a:visited
{
  color:#828282;
}
.tags .glyphicon-tags:before
{
  margin: 10px;
  font-size: 75%;
}
.tags li:hover , .tags a:hover
{
  background-color:#C9C9C9;
  color: #333333;
}
#language-selecter
{
  float: left;
  top: 20px;
  position: relative;
  left: 10px;
}
#categories *
{
  list-style:none;
}
.post-excerpt[lang="en"]
{
  font-size:12pt !important;
}
.post-excerpt[lang="fa"]
{
  font-size:18pt !important;
}
.social-media-list
{
  width: 160px;
}


.post-content[lang="fa"]
{
  font-size:18pt !important;
}
#logo
{
  background: url('/favicon.png');
  background-repeat: no-repeat;
  background-size: 40px;
  padding-left: 55px;
  background-position-y: 50%;
  background-position-x: 5%;
}
