---
layout: barebone
page_name: main_index
lang: en
isPage: true
---
{% assign posts_en=site.posts | where:"lang", "en" %}
{% assign posts_fa=site.posts | where:"lang", "fa" %}

<div class="wrapper">
  <section class="row" >
    <header class="row col-md-12">
      <h1 id="big-logo" class="site-title navbar-brand" href="{{ site.baseurl }}/{{ page.lang }}">{{ site.title }}</h1>

    </header>

    <section class="row col-md-12">
      <section lang="en" class="col-md-6 light introduction">
          {% include en/about_me.html %}
      </section>
      <section lang="fa" class="col-md-6 dark introduction">
          {% include fa/about_me.html %}
      </section>
      <section class="col-md-6 light">
        <blockquote style="padding-bottom: 0;">
          <p>from one thing, know ten thousand things</p>
          <footer>Miyamoto Musashi, <cite title="The Book of Five Rings">The Book of Five Rings</cite></footer>
        </blockquote>
      </section>
      <section class="col-md-6 dark">
        <blockquote lang="fa">
          <p>از یک چیز، ده هزار چیز بدان</p>
          <footer>میاموتو موساشی،<cite title="کتاب پنج حلقه">کتاب پنج حلقه</cite></footer>
        </blockquote>
      </section>
    </section>

    <section class="row col-md-12">
      <section lang="en" class="col-md-6 dark latest-posts">
        <h2>Latest posts</h2>
        <ul>
          {% for post in posts_en %}
          <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </section>

      <section lang="fa" class="col-md-6 light latest-posts">
        <h2>آخرین پست ها</h2>
        <ul>
          {% for post in posts_fa %}
          <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </section>
    </section>


  </section>
  {% include social_links.html color="black" %}
</div>
