<p>Hi, I'm <a rel="external" href="{{ site.linkedin_url }}"><strong>Abbas Allahyari</strong></a>, jack of all trades!</p>

<p>
  I'm pretty much in "exploration phase", learning many things which may be totally random, but one day they shall unite.
</p>

<p>
  So far I have developed anything ranging from <strong>Websites</strong> to <strong>Desktop Applications</strong>. Currently I'm persuading <strong>Game Development</strong> and <strong>Artificial Intelligence</strong>, and other random stuffs.
</p>
