<section class="row col-md-12" style="background-color:{{ include.color }};padding-top:15px;">
  <ul class="list-inline col-md-7 col-md-offset-3" id="social-icons">
    <li><a href="http://{{ site.linkedin_url }}"><span class="fa fa-linkedin fa-3x {{ include.color }}"></span></a></li>
    <li><a href="http://{{ site.googleplus_url }}"><span class="fa fa-google-plus fa-3x {{ include.color }}"></span></a></li>
    <li><a href="https://github.com/{{ site.github_username }}"><span class="fa fa-github fa-3x {{ include.color }}"></span></a></li>
    <li><a href="https://twitter.com/{{ site.twitter_username }}"><span class="fa fa-twitter fa-3x {{ include.color }}"></span></a></li>
    <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="fa fa-rss fa-3x {{ include.color }}"></span></a></li>
    <li><a href="mailto:hybrid.syntax@gmail.com"><span class="fa fa-at fa-3x {{ include.color }}"></span></a></li>
  </ul>
</section>
